
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
    color: rgb(255, 0, 136);
}

.barra_nav {
    text-decoration: none;
    color: rgb(255, 0, 140);
}

a:link {
    color: rgb(118, 42, 165);
    background-color: transparent;
    text-decoration: none;
    font-size: 10px;
}
    p,li {
        font-size: 14px;
    }

    header,main {
    border: 1px solid rgb(160, 153, 155);
    border-collapse: collapse;
    margin-bottom: 15px;
    }